/* Header-top */
.head{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 4px 2px rgb(233, 228, 228);
}

.head-wrapper{
    width: 72%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-wrapper img{
   width: 150px;
   margin-top: 5px;
}

.head-btns{
    display: flex;
    justify-content: right;
    width: 380px;
}

.btn-red{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: rgba(58, 57, 57, 0.8);
    padding: 4px 30px 4px 20px;
    background-color: rgba(250, 84, 86, 0.866);
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 13px;
}

.btn-found{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    padding: 9px 30px 9px 20px;
    background-color: rgba(57, 194, 201, 0.866);
    border: 1px solid white;
    border-radius: 25px;
    font-weight: lighter;
    margin-right: 18px;
}

.btn-addNew{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    padding: 4px 30px 4px 25px;
    background-color: rgba(57, 194, 201, 0.866);
    border: 1px solid white;
    border-radius: 25px;
    font-weight: lighter;
    margin-right: 22px;
}

.btn-addNew:hover, .btn-red:hover, .btn-found:hover{
    cursor: pointer;
}

.btns-icon{
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
}

.plus{
    font-size: 25px;
    font-weight: 600;
    margin-right: 30px;
}